<html xmlns:th="https://www.thymleaf.org">
 <head>
 <meta charset="ISO-8859-1"></meta>
<title>Training Management</title>
<link rel="stylesheet" href="../static/styles/adminhome.css" th:href="@{styles/adminhome.css}" />


</head>
<body>

<header>
<div class="div2">

    <a th:href="@{/adminhome}" class="btn" >Home</a>
    <a th:href="@{/addtopic}" class="btn">Add Topic</a>
    <a th:href="@{/addschedule}" class="btn" >Schedule Training</a>
	<a th:href="@{/getschedules}" class="btn" >View Training</a>
 	<a th:href="@{/getfeedback}" class="btn" >View Feedback</a>
    <a th:href="@{/getNominations}" class="btn" >Nominations</a>
    <a th:href="@{/home}" class="btn">LogOut</a>
</div>  
</header>
<div>
<img th:src="@{images/admin.jpg}" width="100%" height="500px"/>


</div>
</body>
</html>