<html xmlns:th="https://www.thymleaf.org">
 <head>
 <meta charset="ISO-8859-1"></meta>
<title>Training Management</title>
<link rel="stylesheet" href="../static/styles/adminhome.css" th:href="@{styles/adminhome.css}" /> 
</head>
<body>
<header>
<div class="div2">

    <a th:href="@{/employeehome}" class="btn" >Home</a>
    <a th:href="@{/addtopicemp}" class="btn" >Post Topic</a>
	<a th:href="@{/addfeedback}" class="btn" >Feedback</a>
    <a th:href="@{/getschedulesemployee}" class="btn">View Training</a>
    <a th:href="@{/applynomination}" class="btn">Nominate</a>
    <a th:href="@{/home}" class="btn">LogOut</a>
</div>  
</header>
</body>

<h1>WELCOME TO EMPLOYEE PAGE</h1>

</html>

