<html xmlns:th="https://www.thymleaf.org">
 <head>
 <meta charset="ISO-8859-1"></meta>
<title>Training Management</title>
<link rel="stylesheet" href="../static/styles/adminhome.css" th:href="@{styles/adminhome.css}" /> 
</head>
<body>
<header>
<div class="div2">

    <a th:href="@{/managerhome}" class="btn" >Home</a>
    <a th:href="@{/addtopicmanager}" class="btn" >Post Topic</a>
    <a th:href="@{/getNominationsmanager}" class="btn" >View Nominations</a>
    <a th:href="@{/home}" class="btn">LogOut</a>
</div>  
</header>
</body>
<h1>WELCOME TO PROJECT MANAGER PAGE</h1>
</html>

