<html xmlns:th="https://www.thymleaf.org">
<head>
        <title>Nomination list</title>
        <link rel="stylesheet" href="../static/styles/scheduleview.css" th:href="@{styles/feedbackview.css}" />
       <link rel="stylesheet" href="../static/styles/adminhome.css" th:href="@{styles/adminhome.css}" />
    </head>
    <body>
    
    <header>
<div class="div2">

    <a th:href="@{/adminhome}" class="btn" >Home</a>
     <a th:href="@{/addtopic}" class="btn">Add Topic</a>
    <a th:href="@{/addschedule}" class="btn" >Schedule Training</a>
	<a th:href="@{/getschedules}" class="btn" >View Training</a>
 	<a th:href="@{/getfeedback}" class="btn" >Feedback</a>
    <a th:href="@{/getNominations}" class="btn" >Nominations</a>
    <a th:href="@{/home}" class="btn">LogOut</a>
</div>
</header>
        <table id="view">
            <thead>
                <tr>
                    <th>Topic Name</th>
	 			<th>Employee ID</th>
	 			<!-- <th>Status</th> -->
                </tr>
            </thead>

            <tbody>
                <tr th:each="nomination : ${nominationList}">
                    <td th:text="${nomination.schedule.topic.topicName}"></td>
           			<td th:text="${nomination.employee.employeeId}"></td>
                  <!--  <td>
                  // <input type="submit" name="status" id="status" th:value="${employee.employeeId}" />
                   </td> -->
	 				
                </tr>
            </tbody>

        </table>
</body>
</html>